# Node
node_modules/
npm-debug.log
yarn-error.log

# Env / Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Builds
dist/
build/
.next/
out/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log